{% extends 'main/header.html' %}
{% load static %}

{% block content %}
<section id="featured_projects">
  <h3>Featured Projects:</h3>
  <br>
  <div class="row">
    {% for project in projects %}
    {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 4 %}
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image">
          <a href="{{project.project_slug}}">
            <img src="{% static "images/thumbnails/"|add:project.project_thumbnail|add:".png" %}" alt="{{project.project_title}}" height="200">
            <span class="card-title"><span class="black"><strong>{{project.project_title}}</strong></span></span>
          </a>
        </div>
        <div class="card-content">
          <p>{{project.project_description}}</p>
        </div>
        <div class="card-action blue-grey darken-3">
          <a href="{{project.project_github_url}}" target="_blank" class="btn orange darken-1 black-text"><strong>GITHUB</strong></a>
          &nbsp
          &nbsp
          <a href="{{project.project_slug}}" class="btn orange darken-1 black-text"><strong>VIEW</strong></a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>

<br>

<section id="skills">
  <h3>Skills:</h3>
  <div class="row">
    <div class="col s12, m4, l4">
      <ul>
        <p style="text-decoration:underline"><strong>Frontend:</strong></p>
        <p>HTML/CSS/js | React | Angular | Django</p>
        <p style="text-decoration:underline"><strong>Backend:</strong></p>
        <p>Python</p>
        <p style="text-decoration:underline"><strong>AI & ML:</strong></p>
        <p>TensorFlow | Scikit-learn | OpenCV</p>
        <p style="text-decoration:underline"><strong>Database:</strong></p>
        <p>SQL</p>
        <p style="text-decoration:underline"><strong>Version control:</strong></p>
        <p>Git | Docker</p>
      </ul>
    </div>
    <div class="col s12, m8, l8">
      <div class="carousel" id="demo-carousel-auto" data-indicators="true">
        <a class="carousel-item"><img src="{% static "images/icons/1.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/2.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/3.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/4.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/5.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/6.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/7.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/8.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/9.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/10.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/11.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/12.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/13.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/14.png" %}" width="100%" height="100%"></a>
        <a class="carousel-item"><img src="{% static "images/icons/15.png" %}" width="100%" height="100%"></a>
      </div>
    </div>
  </div>
</section>

<br>

<section id="about">
  <h3>About:</h3>
  <div class="row">
    <div class="col s12, m3, l3">
      <img src="{% static "images/pictures/portrait.JPG" %}" height="200" width="200" class="circle">
    </div>
    <div class="col s12, m9, l9">
      <p>
        Hello, my name is Peter Hinge and I am a full stack developer and AI specialist. I thoroughly enjoy
        broadening my horizons and always seek to keep up with contemporary technological research and development,
        while also being product and result oriented. I am tech stack agnostic and a fast learner.
      </p>
      <p>
        I also enjoy taking extensive notes as I learn, which has resulted in in some elementary tutorials for different technologies.
        Feel free to check them out:
      </p>
      <ul id="nn_dropdown" class="dropdown-content">
        <li><a href="https://github.com/PeterHinge/NN_notes/blob/master/NN%20Basics%201.ipynb" target="_blank" class="dropdown-item orange-text text-orange darken-1"><strong>Basics of Neural Networks 1</strong></a></li>
        <li><a href="https://github.com/PeterHinge/NN_notes/blob/master/NN%20Basics%202%20(OOP).ipynb" target="_blank" class="dropdown-item orange-text text-orange darken-1"><strong>Basics of Neural Networks 2 (OOP)</strong></a></li>
        <li><a href="https://github.com/PeterHinge/NN_notes/blob/master/NN%20Basics%203%20(TF%20and%20Keras).ipynb" target="_blank" class="dropdown-item orange-text text-orange darken-1"><strong>Basics of Neural Networks 3 (TensorFlow and Keras)</strong></a></li>
        <li><a href="https://github.com/PeterHinge/NN_notes/blob/master/NEAT.ipynb" target="_blank" class="dropdown-item orange-text text-orange darken-1"><strong>NEAT Algorithm</strong></a></li>
      </ul>
      <a class="btn dropdown-trigger orange darken-1 black-text" href="#!" data-target="nn_dropdown">
        <strong>Machine Learning</strong>
        <i class="material-icons right">arrow_drop_down</i>
      </a>
      &nbsp
      <ul id="bc_dropdown" class="dropdown-content">
        <li><a href="https://github.com/PeterHinge/BC_notes/blob/master/Blockchain%20fundamentals.ipynb" target="_blank" class="dropdown-item orange-text text-orange darken-1"><strong>Blockchain fundamentals</strong></a></li>
        <li><a href="https://github.com/PeterHinge/BC_notes/blob/master/Blockchain%20currencies.ipynb" target="_blank" class="dropdown-item orange-text text-orange darken-1"><strong>Blockchain currencies</strong></a></li>
      </ul>
      <a class="btn dropdown-trigger orange darken-1 black-text" href="#!" data-target="bc_dropdown">
        <strong>Blockchain Technology</strong>
        <i class="material-icons right">arrow_drop_down</i>
      </a>
    </div>
  </div>
</section>

<br>

<section id="contact">
  <!--
  <h3>Contact:</h3>
  <p class="sectionInfo">
    If you are interested in getting in contact, I would love to hear from you!  You can contact me by filling out the form or through my contact information listed below:
  </p>

  <form>
    <div class="formGroup">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="Enter Name..." required="">
    </div>

    <div class="formGroup">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="Enter Email..." required="">
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea name="message" id="message" placeholder="Message..." cols="30" rows="10" required=""></textarea>
    </div>

    <br>
    <input type="submit" value="Submit" class="btn orange darken-1" id="formSubmit">
  </form>
  -->
</section>

<script>
    $(document).ready(function() {
      $("#demo-carousel-auto").carousel();
      setInterval(function() {
        $("#demo-carousel-auto").carousel("next");
      }, 3000);
    });
</script>

{% endblock %}
